<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>2점이 걸린 퀴즈</title>
  <style>
  p {
    width: 400px;
  }
  </style>
</head>
<body>
 
<button>Toggle</button>
<p>
  이번주 과제는 <em>제이쿼리</em>를 이용해서 예쁘게 꾸며오기 ^^
</p>
<script>
$( "???" ).click(function() {
  $( "???" ).slideToggle( "slow" );
});
</script>
 
</body>
</html>